﻿<!DOCTYPE html>
<html ng-app="SignumSoft">
<head>
    <title>SignumSoft - {{'OFFER.SUBTITLE' | translate}}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel="icon" href="img/favicon.png" type=""/>

    <!-- Styles -->
    <link href='vendor/font-awesome/css/font-awesome.min.css' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,400italic,700,700italic,900,900italic&subset=latin,latin-ext'
          rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,500,600,600italic,700,700italic,800,400italic,300italic,300&subset=latin,latin-ext'
          rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300italic,300,500,400italic,500italic,700&subset=latin,latin-ext'
          rel='stylesheet' type='text/css'>
    <link href="fonts/Stroke-Gap-Icons-Webfont/style.css" rel="stylesheet" type="text/css"/>

    <!-- components -->
    <link href="vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="vendor/owl-carousel/owl-carousel/owl.carousel.css" rel="stylesheet" type="text/css"/>
    <link href="vendor/slider-pro/dist/css/slider-pro.min.css" rel="stylesheet" type="text/css"/>
    <link href="vendor/slick-carousel/slick/slick.css" rel="stylesheet" type="text/css"/>
    <link href="vendor/animate.css/animate.min.css" rel="stylesheet" type="text/css"/>
    <link href="vendor/fancybox/source/jquery.fancybox.css" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link href="css/main.css" rel="stylesheet" type="text/css"/>

    <!-- map -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>

</head>
<body data-scrolling-animations="true" id="home" ng-controller="mainCtrl">

<div id="page-preloader"><span class="spinner"></span></div>
<div class="top-handler" href="index.html" style="width: 100%; height: 1px; display: inline-block;"></div>
<!-- ========================== -->
<!-- Navigation -->
<!-- ========================== -->
<header class="header scrolling-header">
    <nav id="nav" class="navbar navbar-default navbar-fixed-top" role="navigation"
         style="-webkit-transform: translateZ(0);">
        <div class="container relative-nav-container">
            <a class="toggle-button visible-xs-block" data-toggle="collapse" data-target="#navbar-collapse">
                <i class="fa fa-navicon"></i>
            </a>
            <a class="navbar-brand scroll">
                <object class="normal-logo hidden-xs" data="img/logo_white.svg" width="225" height="59" &nbsp;
                        type="image/svg+xml"></object>
                <object class="scroll-logo hidden-xs" data="img/logo-full.svg" width="202" height="53" &nbsp;
                        type="image/svg+xml"></object>
                <object class="scroll-logo visible-xs-block" data="img/logo-full.svg" width="202" height="53" &nbsp;
                        type="image/svg+xml"></object>
            </a>
            <div class="navbar-collapse collapse floated" id="navbar-collapse">
                <ul class="nav navbar-nav navbar-with-inside clearfix navbar-right with-border">
                    <li>
                        <a class="nav-link active" href="#home">{{'NAVIGATION.HOME' | translate}}</a>
                    </li>
                    <li>
                        <a class="nav-link" href="#about">{{'NAVIGATION.ABOUT' | translate}}</a>
                    </li>
                    <li>
                        <a class="nav-link" href="#offer">{{'NAVIGATION.OFFER' | translate}}</a>
                    </li>
                    <li>
                        <a class="nav-link" href="#contacts">{{'NAVIGATION.CONTACT' | translate}}</a>
                    </li>
                    <li>
                        <div class="dropdown">
                            <button class="btn btn-special dropdown-toggle" type="button" id="dropdownMenu1"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <div ng-switch="currentLanguage" class="currentLanguage">
                                    <span ng-switch-when="pl_PL">{{'TOP.POLISH' | translate}}</span>
                                    <span ng-switch-when="en_GB">{{'TOP.ENGLISH' | translate}}</span>
                                </div>
                                <i class="fa fa-chevron-down"></i>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li><a href="#" ng-click="changeLanguage('pl_PL')">{{'TOP.POLISH' | translate}}</a></li>
                                <li><a href="#" ng-click="changeLanguage('en_GB')">{{'TOP.ENGLISH' | translate}}</a>
                                </li>

                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header><!--./navigation -->
<!-- ========================== -->
<!-- HOME - HEADER -->
<!-- ========================== -->
<section class="top-header home-header with-bottom-effect transparent-effect dark">

    <div class="header-container">
        <div class="wrap-section-slider">
            <!-- remove id="topSlider" to disable slider -->
            <div class="sp-slides">
                <div class="slide-item sp-slide">
                    <div class="slide-image" style=" ">


                    </div>
                    <div class="slide-content ">
                        <div class="title sp-layer animated fadeInUpBig" data-show-transition="right"
                             data-hide-transition="up" data-show-delay="500" data-hide-delay="150">{{'HOME.TITLE' |
                            translate}}
                        </div>
                        <div class="under-title sp-layer animated fadeInUpBig" data-show-transition="up"
                             data-hide-transition="up" data-show-delay="600" data-hide-delay="200">
                            {{'HOME.SUBTITLE' | translate}}
                        </div>
                        <div class="controls sp-layer" data-show-transition="up" data-hide-transition="up"
                             data-show-delay="800" data-hide-delay="250">
                            <a class="caret-down" href="#about"><i class="fa fa-angle-down animated"></i><i
                                    class="fa fa-angle-down static"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!--./container-->
</section>
<div class="fixed-separator"></div>
<!-- ========================== -->
<!-- HOME - ABOUT -->
<!-- ========================== -->
<section class="about-section" id="about">
    <div class="bottom-effect"></div>
    <div class="container big-separator">
        <div class="section-heading">
            <div class="section-title wow fadeInUp" translate="ABOUT.TITLE"></div>
            <div class="section-subtitle wow fadeInUp">{{'ABOUT.SUBTITLE' | translate}}</div>
            <div class="above-title">
                <div class="container">
                    <div class="col-md-8 col-md-offset-2 wow fadeInUp">
                        <p class="section-intro">
                            {{'ABOUT.DESCRIPTION' | translate}}
                        </p>
                    </div>
                </div>
            </div>
            <div class="design-arrow"></div>
        </div>
    </div>
    <div class="about-content" style="border-top: 1px solid rgba(0, 0, 0, 0.25);">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-sm-12 img-side img-left">
                    <div class="img-holder overlay" style="background-image: url('img/who-we-are.jpg');">

                        <div class="centrize">
                            <div class="v-center">
                                <div class="title txt-sm-center txt-xs-center m-0">
                                    <h3>{{'ABOUT.WHO.WE.ARE' | translate}}<span class="red-dot"></span></h3>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="left-right-col">
            <div class="row">
                <div class="col-md-6 col-md-offset-6 wow fadeInRight" style="padding: 45px;">
                    <div class="tab-pane fade active in">
                        <p class="alt-paragraph mb-15" translate="ABOUT.WHO.WE.ARE.DESCRIPTION"></p>
                    </div>
                    <!-- end of tab content-->
                </div>
            </div>
        </div>
    </div>

    <div class="about-content">
        <div class=" middle-col">
            <div class="row">
                <div class="col-md-6 fadeInLeft wow" style="padding: 45px; ">
                    <div class="tab-pane fade active in">
                        <p class="alt-paragraph mb-15" translate="ABOUT.OUR.VALUES.DESCRIPTION"></p>
                    </div>
                    <!-- end of tab content-->
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-sm-12 img-side img-right">
                    <div class="img-holder overlay" style="background-image: url('img/our-values.jpg');">

                        <div class="centrize">
                            <div class="v-center">
                                <div class="title txt-sm-center txt-xs-center m-0">
                                    <h3>{{'ABOUT.OUR.VALUES' | translate}}<span class="red-dot"></span></h3>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="about-content" style="border-bottom: 1px solid rgba(0, 0, 0, 0.25);">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-sm-12 img-side img-left" style="top: 0px;">
                    <div class="img-holder overlay" style="background-image: url('img/what-differentiates-us.jpg');">

                        <div class="centrize">
                            <div class="v-center">
                                <div class="title txt-sm-center txt-xs-center m-0">
                                    <h3>{{'ABOUT.WHAT.MAKES.US.DIFFRENT' | translate}}<span class="red-dot"></span></h3>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="left-right-col">
            <div class="row">
                <div class="col-md-6 col-md-offset-6" style="    padding: 45px;">
                    <div class="tab-pane fade active in wow fadeInRight">
                        <p class="alt-paragraph mb-15" translate="ABOUT.WHAT.MAKES.US.DIFFRENT.DESCRIPTION"></p>
                    </div>
                    <!-- end of tab content-->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ========================== -->
<!-- HOME - FEATURES -->
<!-- ========================== -->
<section class="offer-section big-separator" id="offer" style="padding-bottom: 0px;">
    <div class="">
        <div class="section-heading ">
            <div class="section-title animated fadeInUp wow">{{'OFFER.TITLE' | translate}}</div>
            <div class="section-subtitle wow fadeInUp">{{'OFFER.SUBTITLE' | translate}}</div>
            <div class="above-title">
                <div class="container">
                    <div class="col-md-12 wow fadeInUp">
                        <p class="section-intro" translate="OFFER.DESCRIPTION"></p>
                    </div>
                </div>
            </div>
            <div class="design-arrow"></div>
        </div>
    </div>
    <div class="">
        <div class="row">
            <div class="col-md-4 col-sm-12 wow fadeInUp">
                <article>
                    <div class="feature-item ">
                        <div class="wrap-feature-icon">
                            <div class="feature-icon">
                                <i class="material-icons">&#xE326;</i>
                            </div>
                        </div>
                        <div class="title">{{'OFFER.FIRST.COL.TITLE' | translate}}</div>
                        <div class="text">
                            {{'OFFER.FIRST.COL.DESCRIPTION' | translate}}
                        </div>
                        <label class="more" for="modal-1">
                            {{'READ.MORE' | translate}}
                        </label>
                    </div>
                    <div>
                        <input class="modal-state" id="modal-1" type="checkbox"/>
                        <div class="modal">
                            <label class="modal__bg" for="modal-1"></label>
                            <div class="modal__inner">
                                <label class="modal__close" for="modal-1"></label>
                                <div class="col-md-6 get-height">
                                    <h5>{{'OFFER.FIRST.COL.TITLE' | translate}}</h5>
                                    <span translate="OFFER.FIRST.COL.MORE"></span>
                                </div>
                                <div class="col-md-6 set-height">
                                    <div class="img-block"
                                         style="background-image: url('img/mobile-apps.jpg'); background-size: contain; background-position: right">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-md-4 col-sm-12 wow fadeInUp">
                <article>
                    <div class="feature-item">
                        <div class="wrap-feature-icon">
                            <div class="feature-icon">
                                <i class="material-icons">&#xE7EF;</i>
                            </div>
                        </div>
                        <div class="title">{{'OFFER.SECOND.COL.TITLE' | translate}}</div>
                        <div class="text">
                            {{'OFFER.SECOND.COL.DESCRIPTION' | translate}}
                        </div>
                        <label class="more" for="modal-2">
                            {{'READ.MORE' | translate}}
                        </label>
                    </div>
                    <div>
                        <input class="modal-state" id="modal-2" type="checkbox"/>
                        <div class="modal">
                            <label class="modal__bg" for="modal-2"></label>
                            <div class="modal__inner">
                                <label class="modal__close" for="modal-2"></label>
                                <div class="col-md-6 get-height">
                                    <h5>{{'OFFER.SECOND.COL.TITLE' | translate}}</h5>
                                    <span translate="OFFER.SECOND.COL.MORE"></span>
                                </div>

                                <div class="col-md-6 set-height">
                                    <div class="img-block"
                                         style="background-image: url('img/it-outsourcing.jpg'); background-size: contain; background-position: right">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-md-4 col-sm-12 wow fadeInUp">
                <article>
                    <div class="feature-item">
                        <div class="wrap-feature-icon">
                            <div class="feature-icon">
                                <i class="material-icons">&#xE80B;</i>
                            </div>
                        </div>
                        <div class="title">{{'OFFER.THIRD.COL.TITLE' | translate}}</div>
                        <div class="text">
                            {{'OFFER.THIRD.COL.DESCRIPTION' | translate}}.
                        </div>
                        <label class="more" for="modal-3">
                            {{'READ.MORE' | translate}}
                        </label>
                    </div>
                    <div>
                        <input class="modal-state" id="modal-3" type="checkbox"/>
                        <div class="modal">
                            <label class="modal__bg" for="modal-3"></label>
                            <div class="modal__inner">
                                <label class="modal__close" for="modal-3"></label>
                                <div class="col-md-6 get-height">
                                    <h5>{{'OFFER.THIRD.COL.TITLE' | translate}}</h5>
                                    <span translate="OFFER.THIRD.COL.MORE"></span>
                                </div>
                                <div class="col-md-6 set-height">
                                    <div class="img-block"
                                         style="background-image: url('img/it-relocation.jpg'); background-size: contain; background-position: right">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>


<!-- ========================== -->
<!-- FOOTER -->
<!-- ========================== -->
<section class="footer map special-pos big-separator" id="contacts">
    <div class="container">
        <div class="section-heading">
            <div class="section-title wow fadeInUp">{{'CONTACT.TITLE' | translate}}</div>
            <div class="section-subtitle wow fadeInUp">{{'CONTACT.SUBTITLE' | translate}}</div>
            <div class="above-title">
                <div class="container">
                    <div class="col-md-8 col-md-offset-2 wow fadeInUp">
                        <p class="section-intro">
                            {{'CONTACT.DESCRIPTION' | translate}}
                        </p>
                    </div>
                </div>
            </div>
            <div class="design-arrow"></div>
        </div>
        <div class="row">
            <div class="map-separator">
                <div class="col-md-6 col-md-offset-3 col-sm-12">
                    <div class="contact-block">
                        <div class="col-md-12 col-sm-12">
                            <div class="contact-block">
                                <div class="contact-block-heading">

                                </div>
                                <div class="row contacts-list">
                                    <div class="col-md-12 clearfix">
                                        <div class="type-info pull-left wow fadeInLeft">
                                            <i class="icon icon-House"></i>
                                            {{'CONTACT.ADDRESS' | translate}}
                                        </div>
                                        <div class="info pull-right text-right">
                                            <p class="no-margin wow fadeInRight">{{'CONTACT.ADDRESS.DESCRIPTION' |
                                                translate}}</p>
                                        </div>
                                    </div>
                                    <div class="col-md-12 clearfix">
                                        <div class="type-info pull-left wow fadeInLeft">
                                            <i class="icon icon-Phone2"></i>
                                            {{'CONTACT.PHONE' | translate}}
                                        </div>
                                        <div class="info pull-right text-right">
                                            <p class="no-margin wow fadeInRight">{{'CONTACT.PHONE.DESCRIPTION' |
                                                translate}}</p>
                                        </div>
                                    </div>
                                    <div class="col-md-12 clearfix">
                                        <div class="type-info pull-left wow fadeInLeft">
                                            <i class="icon icon-Mail"></i>
                                            {{'CONTACT.EMAIL' | translate}}
                                        </div>
                                        <div class="info pull-right text-right wow fadeInRight">
                                            <p class="no-margin"><a href="mailto:office@signumsoft.eu">{{'CONTACT.EMAIL.DESCRIPTION'
                                                | translate}}</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="">
        <div id="map"></div>
    </div>
    <!-- ========================= -->
    <!-- FOOTER - FOOTER -->
    <!-- ========================== -->


</section>
<div class="copyright-section">
    <p>{{'FOOTER.DATE' | translate}} <span>{{'FOOTER.COPYRIGHT' | translate}}</span>. {{'FOOTER.RESERVED' | translate}}
    </p>
</div>

<!-- Scripts -->
<!-- components -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="vendor/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
<script src="vendor/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
<script src="vendor/owl-carousel/owl-carousel/owl.carousel.min.js" type="text/javascript"></script>
<script src="vendor/waypoints/lib/jquery.waypoints.min.js" type="text/javascript"></script>
<script src="vendor/slider-pro/dist/js/jquery.sliderPro.min.js" type="text/javascript"></script>
<script src="vendor/slick-carousel/slick/slick.min.js" type="text/javascript"></script>
<script src="vendor/jquery.mb.ytplayer/dist/jquery.mb.YTPlayer.min.js" type="text/javascript"></script>
<script src="vendor/wow/dist/wow.min.js" type="text/javascript"></script>
<script src="vendor/fancybox/source/jquery.fancybox.pack.js" type="text/javascript"></script>
<script src="js/modernizr.js" type="text/javascript"></script>

<!-- custom scripts -->
<script src="js/smoothscroll.js" type="text/javascript"></script>
<script src="js/contact.js" type="text/javascript"></script>
<script src="js/custom.js" type="text/javascript"></script>

<!-- Angular scripts -->
<script src="js/main.js"></script>
<script src="js/angular.min.js"></script>
<script src="js/angular-cookies.min.js"></script>
<script src="js/angular-route.min.js"></script>

<script src="js/angular-translate.min.js"></script>
<script src="js/angular-translate-loader-static-files.min.js"></script>
<script src="js/angular-translate-storage-local.min.js"></script>
<script src="js/angular-translate-storage-cookie.min.js"></script>
<script src="js/angular-sanitize.min.js"></script>

<!-- Angular code -->
<script>
    angular
            .module('SignumSoft', ['ngCookies', 'pascalprecht.translate'])

            .config(function ($translateProvider) {

                $translateProvider

                        .useSanitizeValueStrategy('escaped')
                        .useLocalStorage()
                        .useStaticFilesLoader({
                            prefix: 'i18n/',
                            suffix: '.json'
                        })
                        .registerAvailableLanguageKeys(['pl_PL', 'en_GB'], {
                            'pl': 'pl_PL',
                            'en': 'en_GB'
                        })
                        .fallbackLanguage('en_GB')

            }).run(function (language) {
                language.changeLanguage('en_GB');
            })
            .service('language', function ($translate) {

                var currentLanguage;

                function changeLanguage(key) {
                    currentLanguage = key;
                    $translate.use(key);

                }

                function getCurrentLanguage() {
                    return currentLanguage;
                }

                return {
                    changeLanguage: changeLanguage,
                    getCurrentLanguage: getCurrentLanguage
                }
            })
            .controller('mainCtrl', function ($scope, language) {
                $scope.currentLanguage = language.getCurrentLanguage();
                $scope.changeLanguage = function changeLanguage(key) {
                    language.changeLanguage(key);
                    $scope.currentLanguage = key;
                }

            });


</script>


<script type="text/javascript">
    $('#myTabs a').click(function (e) {
        e.preventDefault()
        $(this).tab('show')
    })
</script>
<script>
    // MAPA
    google.maps.event.addDomListener(window, 'load', init);
    function init() {
        var mapOptions = {
            zoom: 14,
            scrollwheel: false,
            center: new google.maps.LatLng(51.117129, 17.033641), // Location map
            styles: [
                {
                    "featureType": "all",
                    "elementType": "all",
                    "stylers": [
                        {
                            "hue": "#FF6400"
                        }
                    ]
                },
                {
                    "featureType": "all",
                    "elementType": "geometry.fill",
                    "stylers": [
                        {
                            "hue": "#FF6400"
                        }
                    ]
                },
                {
                    "featureType": "all",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "hue": "#FF6400"
                        }
                    ]
                }
            ]
        };
        var mapElement = document.getElementById('map');
        var map = new google.maps.Map(mapElement, mapOptions);

        var image = 'img/google-marker.png';
        var marker = new google.maps.Marker({
            position: new google.maps.LatLng(51.117129, 17.033641),
            map: map,
            icon: image
        });

    }
</script>
<script>
    $(document).ready(function () {
        var divHeight = $('.get-height').height();
        $('.set-height').css('min-height', divHeight + 70 + 'px');
    });
</script>

<script>
    if (navigator.userAgent.indexOf('Safari') != -1 &&
            navigator.userAgent.indexOf('Chrome') == -1) {
        document.body.className += " safari";
    }
</script>


</body>

</html>
